* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
}

.app-header {
  display: flex;
  flex: 0 0 15%;
  margin: 3px;
  justify-content: space-around;
}

.app-main {
  display: flex;
  flex: 0 0 70%;
  margin: 3px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.app-bottom {
  display: flex;
  flex: 0 0 20%;
  margin: 3px;
}
