* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
}

.app-header {
  display: flex;
  flex: 0 0 15%;
  margin: 3px;
  justify-content: space-around;
}

.app-main {
  display: flex;
  flex: 0 0 70%;
  margin: 3px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.app-bottom {
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
  margin: 3px;
  justify-content: center;
  align-items: center;
}
table{
  width: 90%;
  height: 10px;
  margin: 10px;
}

table ,th,td {
  border: 1px solid black;
}

th,td{
  padding: 10px;
}